@import 'projects/management/src/assets/mixins';

.page-header {
  @include page-header;
}

.page-content {
  @include page-content;
  grid-template-columns: 400px auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .group-table {
    display: grid;
    grid-auto-flow: row;

    .group-row {
      display: flex;
      padding: 8px;
      font-size: medium;
      line-height: 1.5;
      border-bottom: 1px solid #ddd;

      &:last-of-type {
        border-bottom: none;
      }

      &.header {
        font-weight: bolder;
        border-bottom: 2px solid #ddd;
      }
      &:not(.header) {
        cursor: pointer;
      }

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:hover {
        background-color: #f5f5f5;
      }

      &.active {
        background-color: #f5f5f5;

        &:hover {
          background-color: #e8e8e8;
        }
      }
    }
  }
}

.btn-add {
  @include button-add;
}

.btn-edit {
  @include button-primary;
}

.btn-remove {
  @include button-remove;
}
