.page-header
    h3 User management
.col-xs-4.col-lg-4
    .row
        h4 Users list
        table.table.table-hover
            thead
                tr
                    th Name
                    th Group
            tbody
                tr.user-row(
                    ng-repeat="user in users",
                    ng-click="onSelection(user)",
                    ng-class="{'active': selectedUserId === user.id}")
                    td {{ user.username }}
                    td {{ user.group || 'None' }}
    .row
        .form-group
            btn.btn.btn-success(ng-click="createNew()")
                | Create new user
    .row(ng-show="editedModel !== undefined && selectedNode !== null")
        .form-group
            btn.btn.btn-danger(ng-click="removeSelected()")
                | Remove selected
.col-xs-8.col-lg-8
    div(ng-hide="editedModel === undefined")
        user-editor(model="editedModel")
    div(ng-show="editedModel === undefined")
        h4 Welcome to the user management screen
        p 
        | You can start by clicking on the users on the left to edit them, or  
        a(ng-click="createNew()") add a new one.