.container
    form.form-signin
        h2.form-signin-heading Please sign in
        label.sr-only(for='inputEmail') Username
        input#inputEmail.form-control(type='text', placeholder='Username', ng-model='credentials.username', required, autofocus)
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password', placeholder='Password', ng-model='credentials.password', required)
        button.btn.btn-lg.btn-primary.btn-block(type='submit', ng-click='login()')
            | Sign in
        div(ng-show="msg !== undefined", style="color: red;")
            | {{ msg }}