@import 'projects/music/src/assets/mixins';

.mat-expansion-panel {
  @include nav-bar();
  box-shadow: none !important;
  height: auto;

  .mat-expansion-panel-header.mat-expanded {
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
  }

  .mat-expansion-panel-header-title {
    margin: 0;
  }

  .mat-content.mat-content-hide-toggle {
    margin: 0;
  }

  .mat-expansion-panel-header {
    padding: 0;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }
}



.mat-mdc-checkbox {
  width: 100%;

  .mdc-form-field {
    height: 21px;
  }
}

.mdc-tooltip__surface {
  white-space: break-spaces;
}
