.page-header
    h3 Master schedule

.col-xs-4.col-lg-2
    .row
        h4 Clients
        .form-group(style="font-size: 9pt;")
            em Enable or disable master schedule for clients
        treecontrol(class="tree-classic", options="treeOptions", tree-model="clientsTree", on-selection="onSelection(node, selected)", selected-node="selectedNode", expanded-nodes="expandedNodes")
            input.client-checkbox(ng-if='node.route === "client"', ng-click='nodeMasterScheduleToggle($event, node)', ng-model='node.master_schedule_enabled', type='checkbox')
            span  {{ node.name }}
    br 
    .row
        .form-group
            .btn-group.btn-group__tree-controls
                button.btn.btn-xs.btn-success.btn__tree-control(ng-click="enableAll()")
                    | Enable all
                button.btn.btn-xs.btn-danger.btn__tree-control(ng-click="disableAll()")
                    | Disable all
    .row
        .form-group
            .btn-group.btn-group__tree-controls
                button.btn.btn-xs.btn-success.btn__tree-control(ng-click="expandAll()")
                    | Expand all
                button.btn.btn-xs.btn-danger.btn__tree-control(ng-click="collapseAll()")
                    | Collapse all

.col-xs-8.col-lg-10
    div(ng-show="selected.client !== undefined")
        h3 Master schedule for clients
            em {{ selected.client.name }}
        .button-toolbar
            button.btn.btn-success(ng-click="createEvent()")
                | Add new event 
                i.glyphicon.glyphicon-plus
        div(ng-if="selected.event")
            event-editor(model="selected.event", client="selected.client")
        br
        .btn-group
            button.btn.btn-success(ng-click="changeView('week')")
                | Week
            button.btn.btn-success(ng-click="changeView('month')")
                | Month
        div.calendar-container
            div(ui-calendar="uiConfig.calendar", calendar="scheduleCalendar" ng-model="eventSources")
            div.loader-container(ng-if="loaderVisible")
                div.loader
        
    div(ng-hide="selected.client !== undefined")
        p Welcome to schedule editor. Begin by selecting a client on the left to see their schedule.
