<form class="form" *ngIf="group" [formGroup]="group">
  <app-custom-autocomplete-input [control]="group | getFormControl:'playlist'"
                                 [optionList]="optionList">
  </app-custom-autocomplete-input>

  <app-custom-input [control]="group | getFormControl:'percentage'" [type]="'number'">
  </app-custom-input>

  <button class="btn-remove" (click)="remove()">
    <img [ngSrc]="'assets/icons/minus.svg'" [height]="16" [width]="16" alt="">
    Remove Content Pool
  </button>
</form>
