<h3 class="page-header">Schedule</h3>

<div class="page-content">
  <div class="list">
    <app-spinner *ngIf="!(currentFileSystem$ | async); else data"></app-spinner>

    <ng-template #data>
      <app-custom-input [control]="searchControl" [placeholder]="'Search'">
      </app-custom-input>

      <app-folder-tree [fullFileSystem]="currentFileSystem$ | async"
                       [fileSystemSlice]="currentFileSystem$ | async | filterFolderTree:searchControl.value"
                       [itemCategory]="'schedule'"
                       [search]="searchControl.value">
      </app-folder-tree>
    </ng-template>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
