<h3 class="page-header">Client management</h3>

<div class="page-content">
  <div class="list">
    <app-spinner *ngIf="!(currentFileSystem$ | async); else data"></app-spinner>

    <ng-template #data>
      <div>
        <app-custom-input [control]="searchControl" [placeholder]="'Search'">
        </app-custom-input>
        <mat-checkbox [checked]="withContent" (change)="resetClients($event.checked)" [color]="'primary'">
          Only clients with content
        </mat-checkbox>
      </div>

      <app-folder-tree [fullFileSystem]="currentFileSystem$ | async"
                       [fileSystemSlice]="currentFileSystem$ | async | filterFolderTree:searchControl.value"
                       [itemCategory]="'client'"
                       [search]="searchControl.value">
      </app-folder-tree>
    </ng-template>

    <app-list-buttons [showCopyButton]="true"
                      [showSyncButton]="true"
                      (itemCreation)="create()"
                      (itemCopied)="copy($event)"
                      (itemDeletion)="delete($event)"
                      (syncClicked)="sync()">
    </app-list-buttons>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
