.fc-event-container {
    cursor: pointer;
}

.schedule-msg {
    color: #777;
    font-style: italic;
}

.calendar-container {
    position: relative;
}

.calendar-container > .loader-container {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
}

.loader-container > .loader {
    position: absolute;
    background-image: url("../../../assets/images/loader.gif");
    background-size: contain;
    width: 64px;
    height: 64px;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}

.group-event {
    cursor: default !important;
    border: #000 2px solid !important;
}