.page-header
    h3 Schedule

.col-xs-4.col-lg-2
    .row
        h4 Clients list
    .row
        .col-xs-4
            input.form-control-sm(placeholder="Search...", ng-model="searchQuery")
    .row.tree-clients-container
        treecontrol(class="tree-classic", options="treeOptions", tree-model="clientsTree", on-selection="onSelection(node, selected)", selected-node="selectedNode", expanded-nodes="clientsTreeExpandedNodes")
            | {{ node.name }}

.col-xs-8.col-lg-10
    div(ng-show="selected.client !== undefined")
        h3 Schedule for client 
            em {{ selected.client.name }}
        h4 Basic content
        content-autocomplete(model="selected.clientFull.basic_content", limit="100", programs-only)
        .button-toolbar
            button.btn.btn-success(ng-click="saveClient()")
                | Save basic content
        br
        .button-toolbar
            button.btn.btn-success(ng-click="createEvent()")
                | Add new event 
                i.glyphicon.glyphicon-plus
        div(ng-if="selected.event")
            event-editor(model="selected.event", client="selected.client")
        br
        .btn-group
            button.btn.btn-success(ng-click="changeView('week')")
                | Week
            button.btn.btn-success(ng-click="changeView('month')")
                | Month
        div.calendar-container
            div(ui-calendar="uiConfig.calendar", calendar="scheduleCalendar" ng-model="eventSources")
            div.loader-container(ng-if="loaderVisible")
                div.loader
        
    div(ng-hide="selected.client !== undefined")
        h4 Welcome to schedule editor
        p Begin by selecting a client on the left to see their schedule.
