div
    div(ng-repeat="promotion in promotions track by promotion.promotion_id")
        div(style="width: 70%; display: inline-block; margin-left: 5px;")
            promotion-autocomplete(model="promotions[$index]")
        div(style="width: 20%; display: inline-block; margin-left: 5px;")
            button.btn.btn-danger(ng-click="removePromo($index)")
                | Remove
    div
        button.btn.btn-success(ng-click="addPromotion()")
            | Add new promotion
