div
    div.row(ng-show="pplaylists.length > 0")
        hr
        .col-xs-6(ng-repeat="pplaylist in pplaylists")
            .form-group
                label
                    | Content pool \#{{ $index + 1 }}
                playlist-autocomplete(model="pplaylist.playlist", limit="100", exclude-manual)
            .form-group
                label
                    | Percentage
                input.form-control(type="number", min="0", max="100", ng-model="pplaylist.percentage")
            .form-group
                .btn-toolbar
                    button.btn.btn-danger(ng-click='delete(pplaylist)')
                        | Remove content pool
            hr
    div(ng-hide="pplaylists.length > 0")
        .form-group
            | No content pools added yet.
div.clearfix
    .btn-toolbar
        button.btn.btn-success(ng-click='createNew()')
            | Add new content pool