<h4>{{ userId ? 'Edit User' : 'New User' }}</h4>

<ng-container *ngIf="formGroup">
  <div class="control-panel">
    <button [disabled]="formGroup.invalid" class="btn-add" (click)="save()">
      {{ userId ? 'Save changes' : 'Add new user' }}
    </button>
    <button *ngIf="(user$ | async) as user" class="btn-remove" (click)="discard(user)">
      Discard changes
    </button>
  </div>

  <form class="form" *ngIf="formGroup" [formGroup]="formGroup">
    <div class="main-data">
      <app-custom-input *ngIf="!!userId" [label]="'Auto ID'"
                        [control]="formGroup | getFormControl:'id'">
      </app-custom-input>

      <app-custom-input [label]="'Name'"
                        [placeholder]="'Username'"
                        [control]="formGroup | getFormControl:'username'">
      </app-custom-input>

      <app-custom-input [label]="'Password'" [type]="'password'"
                        [placeholder]="userId ? 'Leave this empty if you do not want to change it' : 'Secure password'"
                        [control]="formGroup | getFormControl:'password'">
      </app-custom-input>

      <app-custom-select [label]="'Group'"
                         [control]="formGroup | getFormControl:'group'"
                         [optionList]="userGroupList">
      </app-custom-select>
    </div>
  </form>
</ng-container>
