container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && cd /var/app/staging/ && python app/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && cd /var/app/staging/ && python app/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && cd /var/app/staging/ && python app/manage.py collectstatic --noinput"
  04_patch_httpd:
    command: "sh config/server/patch-httpd-conf.sh"
  05_add_cache_table:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && cd /var/app/staging/ && python app/manage.py createcachetable --noinput"
option_settings:
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: app/vmms/static
        /frontend: frontend