<h4>{{ versionId ? 'Version View' : 'New Version' }}</h4>

<ng-container *ngIf="formGroup">
  <div *ngIf="!versionId" class="control-panel">
    <button [disabled]="formGroup.invalid" class="btn-add" (click)="save()">
      {{ 'Add new version' }}
    </button>
  </div>

  <form class="form" *ngIf="formGroup" [formGroup]="formGroup">
    <div class="main-data">
      <app-custom-input *ngIf="!!versionId" [label]="'Auto ID'"
                        [control]="formGroup | getFormControl:'id'">
      </app-custom-input>

      <app-custom-input [label]="'Version String'"
                        [placeholder]="'E.g.: 0.1.2.3'"
                        [control]="formGroup | getFormControl:'version_string'">
      </app-custom-input>

      <app-custom-input *ngIf="!!versionId" [label]="'Artifact'"
                        [control]="formGroup | getFormControl:'link'">
      </app-custom-input>

      <ng-container *ngIf="!versionId">
        <app-custom-file-input [label]="'Artifact'" [accept]="''"
                               [control]="formGroup | getFormControl:'link'"
                               (fileSelected)="uploadArtifact($event)">
        </app-custom-file-input>

        <mat-checkbox [formControl]="formGroup | getFormControl:'current'" [color]="'primary'">
          Set as the new current version
        </mat-checkbox>
      </ng-container>
    </div>
  </form>
</ng-container>
