@import 'projects/management/src/assets/mixins';

.control-panel {
  display: flex;
  gap: 16px;
  margin: 0 0 16px;

  .btn-add {
    @include button-add;
    width: fit-content;
  }

  .btn-remove {
    @include button-remove;
    width: fit-content;
  }
}

.main-data {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .clients {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
  }

  .client-row {
    display: flex;
    gap: 10px;

    app-custom-autocomplete-input {
      width: 100%;
    }
  }

  .btn-add {
    @include button-add;
    width: fit-content;
  }

  .btn-remove {
    @include button-remove;
    width: fit-content;
  }
}
