<h4>{{ groupId ? 'Edit Client Group' : 'New Client Group' }}</h4>

<ng-container *ngIf="formGroup; else spinner">
  <div class="control-panel">
    <button [disabled]="formGroup.invalid" class="btn-add" (click)="save()">
      {{ groupId ? 'Save changes' : 'Add new Client Group' }}
    </button>
    <button *ngIf="(group$ | async) as group" class="btn-remove" (click)="discard(group)">
      Discard changes
    </button>
  </div>

  <form class="form" *ngIf="formGroup" [formGroup]="formGroup">
    <div class="main-data">
      <app-custom-input *ngIf="!!groupId" [label]="'Auto ID'"
                        [control]="formGroup | getFormControl:'id'">
      </app-custom-input>

      <app-custom-input [label]="'Name'"
                        [placeholder]="'Name'"
                        [control]="formGroup | getFormControl:'name'">
      </app-custom-input>

      <div>
        <Label>Clients in this group</Label>
        <div *ngIf="(clientList$ | async) as clientList; else spinner" class="clients">
          <div *ngFor="let clientControl of (formGroup | getFormArray:'clients').controls; index as i"
               class="client-row">
            <app-custom-autocomplete-input [placeholder]="'Start typing'"
                                           [control]="clientControl | getFormControl"
                                           [optionList]="clientList">
            </app-custom-autocomplete-input>
            <button class="btn-remove" (click)="removeClient(i)">Remove</button>
          </div>
          <button class="btn-add" (click)="addClient()">
            <img [ngSrc]="'assets/icons/plus.svg'" [height]="16" [width]="16" alt="">
            Add Client
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #spinner>
  <app-spinner [height]="120" [width]="120" [withoutBorder]="true"></app-spinner>
</ng-template>
