.secret-container {
    margin-top: 30px;
}

.logo-container {
    text-align: center;
}

.logo {
    height: 34px;
}

.volume-controls {
    text-align: center;
}

.volume-label {
    display: block;
}

.client-name {
    margin-top: 18px;
    font-size: 18px;
    text-align: center;
}

.player-info {
    margin: 5px;
    text-align: center;
}

.now-playing__track {
    font-size: 24px;
}

.btn__content {
    white-space: normal;
    height: 50px;
    width: 100%;
    margin: 2%;  
}

@media only screen and (min-width : 480px) {
    .btn__content {
        width: 45%;  
    }
}


.btn__active {
    background-color: #449d44;
    border-color: #46b8da;
}

.btn__active:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn__active:focus, .btn__active:active {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}

.btn__flashing {
    animation: btn-flashing 1s alternate infinite;
}

@keyframes btn-flashing {  
    0% {
        /* Green bootstrap */ 
        background-color: #449d44;
        border-color: #46b8da;
    }
    50% { 
        /* Blue bootstrap */
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
}