.row
    h4 
        span(ng-show='isNew')
            | New program
        span(ng-hide='isNew')
            | Edit program

form.form(autocomplete="off")
    .row(ng-hide='isNew')
        h5
            b Dependents
        | Client basic content: 
        span.ttip(ng-click="alert(clientsToList(dependents.client_basic_content.clients))") {{ dependents.client_basic_content.count }}
            span.ttiptext {{ clientsToList(dependents.client_basic_content.clients) }}
        br
        | Client content:
        span.ttip(ng-click="alert(clientsToList(dependents.client_content.clients))") {{ dependents.client_content.count }}
            span.ttiptext {{ clientsToList(dependents.client_content.clients) }}
        br
        | Events: 
        span.ttip(ng-click="alert(clientsToList(dependents.events.clients))") {{ dependents.events.count }}
            span.ttiptext {{ clientsToList(dependents.events.clients) }}
    .row
        .col-xs-2(ng-hide='isNew')
            .form-group
                label
                    | Auto ID
                input.form-control(ng-model="program.id", readonly, placeholder="1")

        .col-xs-3
            .form-group
                label
                    | Name
                input.form-control(ng-model="program.name", placeholder="Program name")

        .col-xs-2
            .form-group
                label
                    | Color
                ngjs-color-picker(selected-color="program.color", options="{columns: 4, roundCorners: true}")

        .col-xs-2
            .form-group
                label
                    | Cover
                div(ng-if="program.cover")
                    img(style="width: 100%;", src="{{program.cover}}")
                s3-uploader(
                    model="program.cover",
                    pattern=".jpg,.jpeg,.png,.gif"
                )

        .col-xs-3
            .form-group
                label
                    | Parent
                select.form-control(ng-model="program.parent", ng-options="p.id as p.name for p in parents")
    .row
        .col-xs-12
            .form-group
                label
                    | Content pools
                program-playlists-editor(model="program.playlists")


    .row
        .col-xs-12
            .form-group
                label
                    | Notes
                textarea.form-control(ng-model="program.notes")

    hr
    .row
        .col-xs-12
            .form-group
                label Program preview
    .row
        .col-xs-12
            .form-group
                .btn-toolbar
                    button.btn.btn-info(ng-click='fetchPreview()')
                        | Load program preview
                br
                div(ng-show="showPreview")
                    songs-preview(total-songs="songsCount", songs="preview", show-loading="previewLoading", params-change="previewChange(params)", params="previewParams")
    hr

    .row
        .col-xs-12
            .btn-toolbar
                button.btn.btn-success(ng-click='save()')
                    span(ng-show="isNew")
                        | Add new program
                    span(ng-hide="isNew")
                        | Save changes
                button.btn.btn-danger(ng-hide="isNew", ng-click='reset()')
                    | Discard changes
