@import "projects/management/src/assets/angular-material";
@import "projects/management/src/assets/mixins";
@import "projects/management/src/assets/variables";
@import "../../../node_modules/angular-calendar/css/angular-calendar.css";
mwl-calendar-week-view-event .cal-event-title {
  white-space: break-spaces;
  color: white;
  text-shadow: 1px 1px 1px black;;
}

@import 'ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h4 {
  font-size: 18px;
  font-weight: 500;
}

.cal-scheduler-view .cal-scheduler .cal-scheduler-cols .cal-scheduler-col .cal-scheduler-event-container .cal-scheduler-event .cal-scheduler-event-title-container .cal-scheduler-event-title {
  white-space: pre-wrap !important;
  overflow: auto !important;
  font-size: 10px !important;
}

.cal-scheduler-view .cal-scheduler .cal-scheduler-cols .cal-scheduler-col .cal-scheduler-event-container .cal-scheduler-event .cal-scheduler-event-content-container .cal-scheduler-event-content {
  max-height: 100% !important;
  font-size: 12px !important;
}

.cal-scheduler-view .cal-scheduler .cal-scheduler-cols .cal-scheduler-col .cal-scheduler-event-container .cal-scheduler-event {
  display: flex !important;
  flex-flow: column !important;
  flex-direction: column !important;
}
