.filter {
    border-bottom: 1px solid grey;
    padding: 5px 0;
    margin: 5px;
}

.filter-field {
    display: inline-block;
    margin: 0 5px;
    width: 20%;
}

.filter-word {
    display: inline-block;
    margin: 0 5px;
    width: 20%;
}

.filter-value {
    display: inline-block;
    margin: 0 5px;
    width: 40%;
}

#filter-date-dropdown {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

tags-input.ti-filter {
    margin-right: 7.5px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}