<h4>{{ previewId ? 'Edit preview link' : 'New preview link' }}</h4>

<ng-container *ngIf="formGroup; else spinner">
  <div class="control-panel">
    <button [disabled]="formGroup.invalid" class="btn-add" (click)="save()">
      Save this program preview link
    </button>
    <button *ngIf="(preview$ | async) as preview" class="btn-remove" (click)="discard(preview)">
      Discard changes
    </button>
  </div>

  <form class="form" [formGroup]="formGroup">
    <app-custom-input *ngIf="!!previewId" [label]="'Auto ID'"
                      [control]="formGroup | getFormControl:'id'">
    </app-custom-input>

    <app-custom-input [label]="'Name'" [placeholder]="'Client name'"
                      [control]="formGroup | getFormControl:'name'">
    </app-custom-input>

    <app-custom-autocomplete-input [label]="'Program'" [placeholder]="'Start typing'"
                                   [control]="formGroup | getFormControl:'program'"
                                   [optionList]="(programList$ | async) || []">
    </app-custom-autocomplete-input>

    <div class="input">
      <label class="input-label">Expiration Date</label>
      <input class="input-field" formControlName="expiration_date" (click)="datepicker.open()"
             [placeholder]="'Select a date'" [matDatepicker]="datepicker">
      <mat-datepicker #datepicker></mat-datepicker>
    </div>
  </form>
</ng-container>

<ng-template #spinner>
  <app-spinner [height]="120" [width]="120" [withoutBorder]="true"></app-spinner>
</ng-template>
