@import 'projects/management/src/assets/mixins';

.control-panel {
  display: flex;
  gap: 16px;
  margin: 0 0 16px;

  .btn-add {
    @include button-add;
    width: fit-content;
  }

  .btn-remove {
    @include button-remove;
    width: fit-content;
  }

  .btn {
    @include button-primary;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .input {
    display: flex;
    flex-direction: column;

    .input-label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    .input-field {
      @include input;
    }
  }
}
