
.page-header
    h3 Client management
.col-xs-4.col-lg-4
    .row
        h4 Clients list
        div.loader-container.loader-container__clients(ng-show="showLoader")
            div.loader
    .row
        .col-xs-4
            input.form-control-sm(placeholder="Search...", ng-model="searchQuery")
    .row
        .col-xs-6
            label
                input.form-control-sm(type="checkbox", ng-model="onlyClientsWithContent")
                |  Only clients with client content 
    .row.tree-clients-container
        treecontrol(class="tree-classic", options="treeOptions", tree-model="clientsTree", on-selection="onSelection(node, selected)", selected-node="selectedNode", expanded-nodes="clientsTreeExpandedNodes")
            | {{ getNodeLabel(node) }}
    .row
        .form-group
            .btn-group
                btn.btn.btn-default.disabled
                    | Create
                btn.btn.btn-success(ng-click="createNew()")
                    | Client
                btn.btn.btn-success(ng-click="createNewFolder()")
                    | Folder
        br

    .row(ng-show="editedModel !== undefined && selectedNode !== null")
        .form-group
            btn.btn.btn-danger(ng-click="removeSelected()")
                | Remove selected

    .row(ng-show="selectedNode !== null && selectedNode.route === 'client-folder'")
        .form-group
            btn.btn.btn-info(ng-click="renameSelectedFolder()")
                | Rename folder

    .row(ng-show="selectedNode !== null && selectedNode.route === 'client'")
        .form-group
            btn.btn.btn-info(ng-click="copyClient()")
                | Copy client

    .row
        .form-group
            btn.btn.btn-info(ng-click="sendSyncRequest()")
                i.glyphicon.glyphicon-refresh
                |  Sync with Monitoring

.col-xs-8.col-lg-8
    div(ng-show="selectedNode.route === 'client-folder'")
        folder-editor(model="selectedNode", on-save="onFolderUpdated()", parents="folders")
    div(ng-hide="editedModel === undefined || selectedNode.route === 'client-folder'")
        client-editor(model="editedModel")
    div(ng-show="editedModel === undefined && selectedNode.route !== 'client-folder'")
        h4 Welcome to the client management screen
        p 
        | You can start by clicking on the client names on the left to edit them, or  
        a(ng-click="createNew()") add a new one.