@import 'projects/management/src/assets/mixins';

.basic-content {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 16px;

  .btn-save {
    @include button-add;
    width: fit-content;
  }
}

.control-panel {
  display: flex;
  gap: 16px;
  margin: 0 0 16px;

  .btn-open {
    @include button-add;
    width: fit-content;
  }

  .btn-close {
    @include button-remove;
    width: fit-content;
  }
}
