.row
    .col-xs-2
        div.form-group
            label Is Open? 
                input(type="checkbox", ng-model="enabled")
    .col-xs-4
        div.form-group
            label
                | Opening time
            div(uib-timepicker, ng-disabled="!enabled", ng-model="openTime", show-meridian="false")

    .col-xs-4
        div.form-group
            label
                | Closing time
            div(uib-timepicker, ng-disabled="!enabled", ng-model="closeTime", show-meridian="false")