@import 'projects/music/src/assets/mixins';

.input {
  display: flex;
  flex-direction: column;

  .input-label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .input-field {
    @include input;
    padding: 1px;
    gap: 1px;
    flex-wrap: wrap;
    height: auto;
    min-height: 104px;
  }

  .inner-form {
    display: flex;
    height: 30px;
  }

  .inner-input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #555555;
    padding: 0 6px;
  }

  .tag {
    height: 30px !important;
    padding: 0 5px !important;

    img {
      cursor: pointer;
    }

    &:hover {
      cursor: default !important;
    }

    &.default {
      @include button-primary;

      &:hover {
        background-color: #337ab7;
        border: 1px solid #2e6da4;
      }
    }

    &.include {
      @include button-add;

      &:hover {
        background-color: #5cb85c;
        border: 1px solid #4cae4c;
      }
    }

    &.exclude {
      @include button-remove;

      &:hover {
        background-color: #d9534f;
        border: 1px solid #d43f3a;
      }
    }
  }
}

