.genre-category {
    border-radius: 4px;
    display: inline-block;
    border: 1px solid grey;
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.category-title {
    margin: 3px 0;
    text-align: center;
    font-weight: bold;
}

.genre-checkbox {
    cursor: pointer;
    vertical-align: top;
}

.genre-name {
    cursor: pointer;
    font-weight: normal;
    vertical-align: middle;
}