.container-fluid
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(ui-sref='main.dashboard') VMMS
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li(ui-sref='main.clients', ui-sref-active='active')
              a Clients
            li(ui-sref='main.users', ui-sref-active='active', hide-for-user-group='user')
              a Users
            li(ui-sref='main.schedule', ui-sref-active='active')
              a Schedule
            li(ui-sref='main.master-schedule', ui-sref-active='active')
              a Master schedule
            li(ui-sref='main.group-schedule', ui-sref-active='active')
              a Group schedule
            li(ui-sref='main.versions', ui-sref-active='active', hide-for-user-group='user')
              a Player versions
            li(ui-sref='main.link-previews', ui-sref-active='active')
              a Program preview links
            li
              a(target="_blank", href="https://music.vmms.network") Music
            li
              a(target="_blank", href="https://video.vmms.network") Video
            li
              a(target="_blank", href="https://promotion.vmms.network") Promotion
            li
              a(target="_blank", href="https://import.vmms.network") Import
          ul.nav.navbar-nav.navbar-right
            li
              a(ng-click="logout()") Log out
    .container-fluid
        div(ui-view)
.footer-spacer