.row
    h4 
        span(ng-show='isNew')
            | New client
        span(ng-hide='isNew')
            | Edit client

form.form(autocomplete="off")
    .row
        .col-xs-2(ng-hide='isNew')
            .form-group
                label
                    | Auto ID
                input.form-control(ng-model="client.id", readonly, placeholder="1")
        .col-xs-3
            .form-group
                label
                    | Name
                input.form-control(ng-model="client.name", placeholder="Client name")
        .col-xs-3
            .form-group
                label
                    | Parent
                select.form-control(ng-model="client.parent", ng-options="p.id as p.name for p in parents")
        .col-xs-3
            .form-group
                label
                    | Basic content 
                content-autocomplete(model="client.basic_content", limit="100", programs-only)

    .row
        .col-xs-12
            .form-group
                label
                    | Content filtering
                em  (this set of filters will be applied to every playlist for the client)
                filters-editor(model="client.filters")

    .row
        .col-xs-3(ng-repeat="content in client.contents")
            .form-group
                label
                    | Client content \#{{$index + 1}}
                content-autocomplete(model="client.contents[$index].value", limit="100", programs-only)

    .row
        .col-xs-12
            .form-group
                label
                    | Working hours
                br
                input(type="checkbox", ng-model="workingHoursEnabled")

    .row(ng-if="workingHoursEnabled")
        .col-xs-6
            .form-group
                label
                    | Monday
                working-time-editor(open-time="client.monday_open", close-time="client.monday_close", enabled="client.monday_enabled")

        .col-xs-6
            .form-group
                label
                    | Tuesday
                working-time-editor(open-time="client.tuesday_open", close-time="client.tuesday_close", enabled="client.tuesday_enabled")

        .col-xs-6
            .form-group
                label
                    | Wednesday
                working-time-editor(open-time="client.wednesday_open", close-time="client.wednesday_close", enabled="client.wednesday_enabled")

        .col-xs-6
            .form-group
                label
                    | Thursday
                working-time-editor(open-time="client.thursday_open", close-time="client.thursday_close", enabled="client.thursday_enabled")

        .col-xs-6
            .form-group
                label
                    | Friday
                working-time-editor(open-time="client.friday_open", close-time="client.friday_close", enabled="client.friday_enabled")

        .col-xs-6
            .form-group
                label
                    | Saturday
                working-time-editor(open-time="client.saturday_open", close-time="client.saturday_close", enabled="client.saturday_enabled")

        .col-xs-6
            .form-group
                label
                    | Sunday
                working-time-editor(open-time="client.sunday_open", close-time="client.sunday_close", enabled="client.sunday_enabled")

    .row
        .col-xs-12
            .form-group(ng-hide='isNew')
                label
                    | Promotions
                promotion-editor(model="client.promotions")

    .row
        .col-xs-12
            .form-group(ng-hide='isNew')
                label
                    | API Key
                input.form-control(ng-model="client.api_key", readonly)

    .row(ng-hide='isNew')
        .col-xs-12
            .form-group(hide-for-user-group='user')
                button.btn.btn-info(ng-click='resetApiKey()')
                    | Reset API key
    .row
        .col-xs-12
            .form-group(ng-hide='isNew')
                label
                    | Secret Login Link
                input.form-control(value="{{ 'https://client.vmms.network/#/secret/' + client.secret_login_key }}", readonly, disabled)

    .row(ng-hide='isNew')
        .col-xs-12
            .form-group(hide-for-user-group='user')
                button.btn.btn-info(ng-click='resetLoginKey()')
                    | Reset Login Key

    .row(ng-hide='isNew')
        .col-xs-12
            .form-group(hide-for-user-group='user')
                label
                    | Remote volume control
                br
                input(type="checkbox", ng-model="client.remote_volume_control_enabled")

    .row
        .col-xs-12
            .btn-toolbar
                button.btn.btn-success(ng-click='save()')
                    span(ng-show="isNew")
                        | Add new client
                    span(ng-hide="isNew")
                        | Save changes
                button.btn.btn-danger(ng-hide="isNew", ng-click='reset()')
                    | Discard changes