<h3 class="page-header">User management</h3>

<div class="page-content">
  <div class="list">
    <app-spinner *ngIf="!(userList$ | async); else data"></app-spinner>

    <ng-template #data>
      <div class="user-table">
        <div class="user-row header">
          <span>Name</span>
          <span>Group</span>
        </div>
        <div *ngFor="let user of (userList$ | async)" class="user-row"
             [ngClass]="{'active': (currentItem$ | async)?.id === user.id}"
             (click)="select(user.id)">
          <span>{{user.username}}</span>
          <span>{{user.group}}</span>
        </div>
      </div>
    </ng-template>

    <button class="btn-add" (click)="create()">
      Create New User
    </button>

    <button *ngIf="(currentItem$ | async) as currentItem" class="btn-remove" (click)="delete(currentItem)">
      Remove Selected
    </button>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
