@import 'projects/music/src/assets/mixins';

:host {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-group {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);

  div {
    @include button;
  }

  div:first-child {
    border-radius: 4px 0 0 4px;

    &:hover {
      color: #333;
      background-color: #fff;
      border: 1px solid #ccc;
      cursor: default;
    }
  }

  .btn-add {
    @include button-add;
    border-radius: 0;

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.btn-remove {
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  @include button-remove;
  border-radius: 4px;
}
