<h4>{{ clientId ? 'Edit client' : 'New client' }}</h4>

<ng-container *ngIf="formGroup; else spinner">
  <div class="control-panel">
    <button class="btn-add" (click)="save()">
      Save this client
    </button>
    <button *ngIf="(client$ | async) as client" class="btn-remove" (click)="discard(client)">
      Discard changes
    </button>
  </div>

  <form class="form" [formGroup]="formGroup">
    <div class="main-data" [ngClass]="{'main-data-edited': !!clientId}">
      <app-custom-input *ngIf="!!clientId" [label]="'Auto ID'"
                        [control]="formGroup | getFormControl:'id'">
      </app-custom-input>

      <app-custom-input [label]="'Name'" [placeholder]="'Client name'"
                        [control]="formGroup | getFormControl:'name'">
      </app-custom-input>

      <app-custom-select [label]="'Parent'"
                         [control]="formGroup | getFormControl:'parent'"
                         [optionList]="(folderList$ | async) || []" [defaultValue]="'None'">
      </app-custom-select>

      <app-custom-autocomplete-input [label]="'Basic Content'" [placeholder]="'Start typing'"
                                     [control]="formGroup | getFormControl:'basic_content'"
                                     [optionList]="(programList$ | async) || []">
      </app-custom-autocomplete-input>
    </div>

    <div *ngIf="(filterList$ | async) as filterList">
      <label>Content filtering <i>(this set of filters will be applied to every playlist for the client)</i></label>
      <div class="filters">
        <ng-container *ngFor="let filterForm of (formGroup | getFormArray:'filters').controls; index as i">
          <app-custom-filter-input [group]="filterForm | getFormGroup" [optionList]="filterList"
                                   (filterRemoved)="removeFilter(i)">
          </app-custom-filter-input>
        </ng-container>
        <button class="btn-add" (click)="addFilter('', '', '')">
          <img [ngSrc]="'assets/icons/plus.svg'" [height]="16" [width]="16" alt="">
          Add Filter
        </button>
      </div>
    </div>

    <div class="client-contents">
      <app-custom-autocomplete-input *ngFor="let contentControl of (formGroup | getFormArray:'contents').controls; index as i"
                                     [label]="'Client content ' + (i + 1)" [placeholder]="'Start typing'"
                                     [control]="contentControl | getFormControl"
                                     [optionList]="(programList$ | async) || []">
      </app-custom-autocomplete-input>
    </div>

    <mat-checkbox [checked]="showWorkingHours" (change)="resetWorkingHours($event.checked)" [color]="'primary'">
      Working hours
    </mat-checkbox>

    <div *ngIf="showWorkingHours" class="working-hours">
      <app-custom-working-hours-input *ngFor="let dayFormGroup of (formGroup | getFormArray:'workingHours').controls; index as i"
                                      [label]="week[i]"
                                      [group]="dayFormGroup | getFormGroup">
      </app-custom-working-hours-input>
    </div>

    <div *ngIf="(promotionList$ | async) as promotionList">
      <label>Promotions</label>
      <div class="promotions">
        <div *ngFor="let promotionControl of (formGroup | getFormArray:'promotions').controls; index as i"
             class="promotion-row">
          <app-custom-autocomplete-input [placeholder]="'Start typing'"
                                         [control]="promotionControl | getFormControl"
                                         [optionList]="promotionList">
          </app-custom-autocomplete-input>
          <button class="btn-remove" (click)="removePromotion(i)">Remove</button>
        </div>
        <button class="btn-add" (click)="addPromotion()">
          <img [ngSrc]="'assets/icons/plus.svg'" [height]="16" [width]="16" alt="">
          Add Promotion
        </button>
      </div>
    </div>

    <ng-container *ngIf="!!clientId">
      <div class="disabled-input">
        <app-custom-input [label]="'API Key'"
                          [control]="formGroup | getFormControl:'api_key'">
        </app-custom-input>
        <button class="btn-reset">Reset API Key</button>
      </div>

      <div class="disabled-input">
        <app-custom-input [label]="'Secret Login Link'"
                          [control]="formGroup | getFormControl:'secret_login_key'">
        </app-custom-input>
        <button class="btn-reset">Reset Login Key</button>
      </div>

      <mat-checkbox [formControl]="formGroup | getFormControl:'remote_volume_control_enabled'"
                    [color]="'primary'">
        Remote volume control
      </mat-checkbox>
    </ng-container>
  </form>
</ng-container>

<ng-template #spinner>
  <app-spinner [height]="120" [width]="120" [withoutBorder]="true"></app-spinner>
</ng-template>
