@import 'projects/management/src/assets/mixins';

.control-panel {
  display: flex;
  gap: 16px;
  margin: 0 0 16px;

  .btn-add {
    @include button-add;
    width: fit-content;
  }

  .btn-remove {
    @include button-remove;
    width: fit-content;
  }

  .btn {
    @include button-primary;
  }
}

.main-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.main-data-edited {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.form {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;

  .btn-remove {
    @include button-remove;
    width: fit-content;
  }

  label {
    margin-bottom: 5px;
    font-weight: bold;

    i {
      font-weight: normal;
    }
  }

  .filters, .promotions {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
  }

  .promotion-row {
    display: flex;
    gap: 10px;

    app-custom-autocomplete-input {
      width: 100%;
    }
  }

  .working-hours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 64px;
  }

  .client-contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .disabled-input {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    align-items: end;
  }

  .btn-add {
    @include button-add;
    width: fit-content;
  }

  .btn-reset {
    @include button-primary;
    width: 100%;
  }
}
