div
    div
        label Per Page
        select.form-control(ng-model="perPage", ng-change="onPerPageChange()", ng-options="option for option in perPageOptions")
    div(ng-show="totalSongs")
        | Total songs count: {{ totalSongs }}
    div(ng-show="showLoading", style="text-align: center;")
        img(src=require("../../assets/images/loader.gif"))
    div(ng-hide="showLoading")
        div(ng-show="songs.length > 0")
            table.table
                thead
                    tr
                        th.sortable(ng-click="sortPreviewBy('artist')")
                            | Artist {{ (sortBy === 'artist') ? (sortDir === 'asc' ? '▼' : '▲') : '' }}
                        th Artist addition
                        th.sortable(ng-click="sortPreviewBy('title')")
                            | Title {{ (sortBy === 'title') ? (sortDir === 'asc' ? '▼' : '▲') : '' }}
                        th Title addition
                        th Own tags
                        th Last updated by
                        th 
                tbody
                    tr(ng-repeat="s in songs")
                        td {{ s.artist }}
                        td {{ s.artist_addition }}
                        td {{ s.title }}
                        td {{ s.title_addition }}
                        td {{ deduplicate(s.tags) || 'None' }}
                        td {{ s.username || '-' }}
                        td
                            a(href="https://import.vmms.network/songs/{{s.id}}/edit", target="_blank")
                                btn.btn.btn-info.btn-xs
                                    | Edit
        div(ng-show="totalSongs > 0")
            ul(uib-pagination, ng-model="page", items-per-page="perPage", total-items="totalSongs", ng-change="onPageChanged()")
        div(ng-show="songs.length == 0")
            | No matches for entered query in the song database
