div
    h4 
        span(ng-show='isNew')
            | New version 
        span(ng-hide='isNew')
            | Version view

form.form(autocomplete="off")
    div
        .form-group(ng-hide='isNew')
            label
                | Auto ID
            input.form-control(ng-model="version.id", readonly)

    div
        .form-group
            label
                | Version string
            div(ng-if="!isNew")
                input.form-control(ng-model="version.version_string", readonly)
            div(ng-if="isNew")
                input.form-control(ng-model="version.version_string", placeholder="E.g.: 0.1.2.3")

    div
        .form-group
            label
                | Artifact
            div(ng-hide="version.link")
                button.btn.btn-success(ngf-select="upload($file)", ngf-max-file-size="20MB")
                    | Upload file
            div(ng-show="version.link")
                input.form-control(ng-model="version.link", readonly)
                button.btn.btn-info(ng-if="isNew", ng-click="reupload()")
                    | Upload new file

    div(ng-if="isNew")
        .form-group
            .checkbox
                label
                    input(type="checkbox", ng-model="version.current")
                    | Set as the new current version

    div(ng-if="isNew")
        .btn-toolbar
            button.btn.btn-success(ng-click='save()')
                span
                    | Add new version