.row
    h4 
        span(ng-show='isNew')
            | New group
        span(ng-hide='isNew')
            | Edit group

form.form(autocomplete="off")
    .row
        .col-xs-12(ng-hide='isNew')
            .form-group
                label
                    | Auto ID
                input.form-control(ng-model="group.id", readonly, placeholder="1")
        .col-xs-12
            .form-group
                label
                    | Name
                input.form-control(ng-model="group.name", placeholder="Group name")
    .row
        .col-xs-12
            .form-group
                label
                    | Clients in this group
    .row
        .col-xs-12(ng-repeat="client in group.clients")
            .form-group
                label
                    | Client \#{{$index + 1}}
                client-autocomplete(model="group.clients[$index]", limit="100")
                button.btn.btn-danger(ng-click="removeClientAt($index)")
                    | Remove this client
    .row
        .col-xs-12
            .form-group
                button.btn.btn-success(ng-click="addClient()")
                    | Add new client


    .row
        .col-xs-12
            .btn-toolbar
                button.btn.btn-success(ng-click='save()')
                    span(ng-show="isNew")
                        | Add new group
                    span(ng-hide="isNew")
                        | Save changes