:host {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 0 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  gap: 4px;
  padding: 6px 12px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;

  &:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

@mixin button-primary {
  @include button;
  color: #fff;
  background-color: #5bc0de;
  border: 1px solid #46b8da;

  &:hover {
    color: #fff;
    background-color: darken(#5bc0de, 20);
    border: 1px solid darken(#46b8da, 20);
  }
}

@mixin button-add {
  @include button;
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;

  &:hover {
    color: #fff;
    background-color: #449d44;
    border: 1px solid #398439;
  }
}

@mixin button-remove {
  @include button;
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #c9302c;
    border: 1px solid #ac2925;
  }
}

.logo-container {
  display: flex;

  img {
    height: 34px;
  }
}

.client-name {
  font-size: 18px;
  text-align: center;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }
}

.volume-control {
  display: flex;

  .minus, .value, .plus {
    width: 40px;
  }

  .minus {
    @include button-remove;
    border-radius: 4px 0 0 4px;
  }

  .value {
    @include button;
    border-radius: 0;
    cursor: default;
  }

  .plus {
    @include button-add;
    border-radius: 0 4px 4px 0;
  }
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 100%;

  :host-context(.mobile) & {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .content {
    @include button-primary;
    height: 50px;

    &.active {
      @include button-add;
      height: 50px;
    }

    &.blinking {
      @include button-add;
      height: 50px;
      animation: blinker 3s linear infinite;
    }

    @keyframes blinker {
      50% {
        background-color: #5bc0de;
        border: 1px solid #46b8da;
      }
    }
  }
}
