@import 'projects/music/src/assets/mixins';

.dependents, .preview {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;

  span {
    display: flex;
    gap: 4px;
  }

  .title {
    font-weight: bold;
    margin: 10px 0;
  }

  .value-with-tooltip {
    border-bottom: 1px dotted black;
  }
}

.control-panel {
  display: flex;
  gap: 16px;
  margin: 0 0 16px;

  .btn-add {
    @include button-add;
    width: fit-content;
  }

  .btn-remove {
    @include button-remove;
    width: fit-content;
  }

  .btn {
    @include button-primary;
  }
}

.main-data {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  gap: 15px;
}

.main-data-edited {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 2fr;
  gap: 15px;
}

.form {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .content-pools {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
  }

  .btn-add {
    @include button-add;
    width: fit-content;
  }
}
