@import 'projects/management/src/assets/mixins';

.settings {
  display: flex;
  gap: 10px;

  .btn-open, .btn-edit, .btn-remove {
    font-size: 12px;
  }

  .btn-open {
    @include button-add;
  }

  .btn-edit {
    @include button-primary;
  }

  .btn-remove {
    @include button-remove;
  }
}
