@import 'projects/management/src/assets/mixins';

.input {
  display: flex;
  flex-direction: column;

  .input-label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .input-field {
    @include input;
  }
}

