<h3 class="page-header">Content pool management</h3>

<div class="page-content">
  <div class="list">
    <app-spinner *ngIf="!(currentFileSystem$ | async); else data"></app-spinner>

    <ng-template #data>
      <app-custom-input [control]="searchControl" [placeholder]="'Search'">
      </app-custom-input>

      <app-folder-tree [fullFileSystem]="currentFileSystem$ | async"
                       [fileSystemSlice]="currentFileSystem$ | async | filterFolderTree:searchControl.value"
                       [itemCategory]="'playlist'"
                       [search]="searchControl.value">
      </app-folder-tree>
    </ng-template>

    <app-list-buttons [contentType]="'Content Pool'"
                      (itemCreation)="createContentPool()"
                      (itemDeletion)="delete($event)">
    </app-list-buttons>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
