@import 'projects/management/src/assets/mixins';

.page-header {
  @include page-header;
}

.page-content {
  @include page-content;
  grid-template-columns: 400px auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.control-panel {
  display: flex;
  gap: 16px;
  margin: 0 0 16px;

  .btn-open {
    @include button-add;
    width: fit-content;
  }

  .btn-close {
    @include button-remove;
    width: fit-content;
  }
}

.buttons-line {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .btn-add {
    @include button-add;
    width: 100%;
    border-radius: 4px 0 0 4px;
  }

  .btn-remove {
    @include button-remove;
    width: 100%;
    border-radius: 0 4px 4px 0;
  }
}
