@import 'projects/management/src/assets/mixins';

.calendar-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .btn-group {
    display: flex;

    .btn {
      @include button-add;

      &.btn-first {
        border-radius: 4px 0 0 4px;
      }

      &.btn-second {
        border-radius: 0;
      }

      &.btn-third {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  .loading {
    opacity: 0.5;
  }

  .cal-scheduler-event {
    overflow: hidden;
  }
}
