<div class="calendar-container">
  <div class="header">
    <div class="btn-group">
      <div class="btn btn-first" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-second" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-third" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
    <h3>
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      <app-spinner *ngIf="isLoading" [height]="20" [width]="20" [withoutBorder]="true"></app-spinner>
    </h3>
    <div class="btn-group">
      <div class="btn btn-first" mwlCalendarPreviousView
           [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-second" mwlCalendarToday
           [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-third" mwlCalendarNextView
           [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                             [viewDate]="viewDate"
                             [events]="events"
                             [refresh]="refresh"
                             [activeDayIsOpen]="activeDayIsOpen"
                             (dayClicked)="dayClicked($event.day)"
                             (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day"
                           [viewDate]="viewDate"
                           [events]="events"
                           [refresh]="refresh"
                           (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-day-view>
  </div>
</div>
