@import 'projects/management/src/assets/mixins';

.header {
  border-bottom: 1px solid #e5e5e5;
}

.content {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.footer {
  padding: 8px 24px;
  justify-content: flex-end;
  gap: 4px;
}

.input-field {
  @include input;
}

.btn {
  @include button;
}

.btn-ok {
  @include button-primary;
}
