@import 'projects/management/src/assets/mixins';

.control-panel {
  display: flex;
  gap: 16px;
  margin: 0 0 16px;

  .btn-add {
    @include button-add;
    width: fit-content;
  }

  .btn-remove {
    @include button-remove;
    width: fit-content;
  }
}

.main-data {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;

  .main-data-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .repeating-row {
    display: grid;
    gap: 15px;

    &.col-2 {
      grid-template-columns: 1fr 1fr;
    }

    &.col-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
