<h4>{{ eventId ? 'Edit Event' : 'New Event' }}</h4>

<ng-container *ngIf="formGroup; else spinner">
  <div class="control-panel">
    <button class="btn-add" (click)="save()">
      Save this event
    </button>
    <button *ngIf="event" class="btn-remove" (click)="discard(event)">
      Discard changes
    </button>
    <button *ngIf="event" class="btn-remove" (click)="remove(event.id)">
      Delete event
    </button>
  </div>

  <form class="form" *ngIf="formGroup" [formGroup]="formGroup">
    <div class="main-data">
      <app-custom-input *ngIf="!!eventId" [label]="'Auto ID'"
                        [control]="formGroup | getFormControl:'id'">
      </app-custom-input>

      <app-custom-input [label]="'Name'"
                        [placeholder]="'Event name'"
                        [control]="formGroup | getFormControl:'name'">
      </app-custom-input>

      <app-custom-autocomplete-input [label]="'Content'"
                                     [placeholder]="'Start typing program name...'"
                                     [control]="formGroup | getFormControl:'content'"
                                     [optionList]="(programList$ | async) || []">
      </app-custom-autocomplete-input>

      <div class="main-data-row">
        <app-custom-date-time-input [label]="'Start'"
                                    [control]="formGroup | getFormControl:'start'">
        </app-custom-date-time-input>

        <app-custom-date-time-input [label]="'End'"
                                    [control]="formGroup | getFormControl:'end'">
        </app-custom-date-time-input>
      </div>

      <div class="repeating-row"
           [ngClass]="{'col-2': formGroup.get('repeating')?.value, 'col-3': formGroup.get('repeating')?.value === 'WEEK'}">
        <app-custom-select [label]="'Repeating'"
                           [control]="formGroup | getFormControl:'repeating'"
                           [optionList]="eventRepeatingOptions" [defaultValue]="'No'">
        </app-custom-select>

        <app-custom-input *ngIf="formGroup.get('repeating')?.value === 'WEEK'"
                          [label]="'Repeat every N weeks'" [type]="'number'"
                          [placeholder]="'Enter number of weeks'"
                          [control]="formGroup | getFormControl:'repeat_every_n'">
        </app-custom-input>

        <app-custom-date-time-input *ngIf="formGroup.get('repeating')?.value"
                                    [label]="'Repeating end'"
                                    [control]="formGroup | getFormControl:'repeating_end'">
        </app-custom-date-time-input>
      </div>

      <mat-checkbox [formControl]="formGroup | getFormControl:'high_priority'"
                    [color]="'primary'">
        High priority event
      </mat-checkbox>
    </div>
  </form>
</ng-container>

<ng-template #spinner>
  <app-spinner [height]="120" [width]="120" [withoutBorder]="true"></app-spinner>
</ng-template>
